p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
    text-align: left;
    background-color: greenyellow;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24pt;
    text-align: center;
    background-color: aquamarine;
    font-style: italic;
}

#s01{font-family: 'Segoe UI';
    text-align: center;
    font-size: larger;
    background-color: cornsilk;
}
#sp02{
    font-family: 'Broadway';
      color: blue;
}

.box p {
    color: red;
    font-family: 'Broadway';
    font-size: 20pt;
}

ul > li li {
    border-bottom: 3px solid blue;
    background: #6699;
}

* { margin: 40px; padding: 0;}
body {background-color: goldenrod;}